---
import '../styles/bookshelf.css';
interface Book {
  title: string;
  image: string;
  bookshopUrl: string;
  amazonUrl: string;
  libraryUrl: string;
}
const { books } = Astro.props as { books: Book[] };
---


<div class="bookshelf">
  {books.map(book => (
    <div class="book">
      <img src={book.image} alt={book.title} class="book-image" />
      <h2 class="book-title">{book.title}</h2>
      <div class="book-links">
        <a href={book.bookshopUrl} target="_blank" rel="noopener">Bookshop</a>
        <span class="separator">|</span>
        <a href={book.amazonUrl} target="_blank" rel="noopener">Amazon</a>
        <span class="separator">|</span>
        <a href={book.libraryUrl} target="_blank" rel="noopener">Public Library</a>
      </div>
    </div>
  ))}
</div>
